.main-login {
  .search-box {
    margin-bottom: 30px;
  }
  .event {
    .event-item {
      display: grid;
      grid-template-columns: 20% auto 10%;
      align-items: center;
      margin-bottom: 30px;
      .event-img {
        width: 48px;
        height: 48px;
      }
      .status-img {
      }
    }
  }
  .navigation-bar {
    bottom: 0;
    width: 100%;
    position: relative;
    margin-top: 100px;
    .navigation {
      display: grid;
      grid-template-columns: auto auto auto auto 15%;
      width: 100%;
    }
  }
  .title-box {
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
  }
  .total {
    padding: 22px 40px;
    background: $background-primary;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .detail {
    background: $background-primary;
    border-radius: 10px;
    padding: 26px 30px;
    margin-bottom: 20px;

    .item-detail {
      background: $color-white;
      border-radius: 5px;
      margin-bottom: 20px;
      padding: 10px;
    }
  }
}
